div{
    size: 100px;
    width: 100px;
    height: 100px;
    background-color: aqua;
    margin: 10px;
}

div{
    size: 100px;
    width: 100px;
    height: 100px;
    background-color: aqua;
    margin: 10px;
}

div{
    size: 100px;
    width: 100px;
    height: 100px;
    background-color: aqua;
    margin: 10px;
}

div{
    size: 100px;
    width: 100px;
    height: 100px;
    background-color: aqua;
}

.box{
    display: flex;
 /* flex-wrap: wrap; */
    justify-content: center;  
    height: 200px;
    align-items: flex-end;  
}